
  
 .custom-button{
    display: block;
    width: 150px;
    height: 20px;
    font-size: 12px;
    font-family: sans-serif;
    text-decoration: none;
    color: #4F709C;
    border: 1px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    margin: 0 5px;
  }
  
 .custom-button span{
    position: relative;
    z-index: 2;
  }
  a.custom-button{
    padding: 5px;
  }
  .version2{
    background-color: #4F709C;
    color: white;
    margin-left: 0;
  }
    
  .custom-button:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4F709C;
    transition: all .35s;
  }
  
  .custom-button:hover{
    color: #fff;
  }
  
  .custom-button:hover:after{
    width: 100%;
  }