.Card{
  height: 100%;
} 

.CardBody{
    height: 80;
    padding: 100px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 20% 0;
}
.header{
    font-weight: bold;
}

.closinTag{
    float: right;
}
.iconCard{
    height: 40px;
}
@media only screen and (max-width: 600px) {
    .Card{
        width: 100%;
        margin: 0;
    }
    .CardBody{
        height: 100%;
        padding: 5px 0 5px 0;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        margin: 15% 0;
    }
   
}