.educationContent{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}
.imagepin{
    height: 20px;
}
@media only screen and (max-width: 600px) {
    .educationContent{
        display:flex;
        flex-direction: column;
      
    }
    
}