span img{
    width: 40px;
    padding: 6%;
    position: relative;
}
.email{
    position: absolute;
    right: 50px;
    animation: ease-in .1s;
    display: none;
    background-color: rgb(255, 226, 173);
    padding: 10px;
    border-radius: 20px;
}
.wrapper:hover .email{
    display: inline;
}

span img:hover{
    
    display: inline;
}

