span img{
    width: 20px;
    margin: 0 5px;
}
.Icons{
    display: flex;
    background-color:  #D8C4B6;
}
.email{
    animation: ease-in .1s;
    display: none;
    background-color: #01257D;
    color: white;
    border-radius: 20px;
}
.wrapper:hover .email{
    display: inline;
}
.wrapper a{
    text-decoration: none;
}
span img:hover{
    display: inline;
}

