Nav{
    display: flex;
    justify-content: space-between;
    width: 70%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;  
}

.logo > img{
    padding: 0;
    width: 100px;
}
.NavLinks{
    display: flex;
    position: relative;
}
Nav a{
    text-decoration: none;
    line-height: 50px;
    color: black;
    padding: 20px;
   
}

Nav a:hover{
    border-bottom: 5px solid salmon;

}


@media only screen 
and (max-width : 640px) {
  
    .Nav{
       display: none;
        
       
    }
    .NavLinks{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
        
    
   
  
