.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
  }
  .navbar-links {
    display: flex;
    margin-right: 15px;
    margin-top: 5px;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #000;
    text-align: center;
    font-size: 12px;
  }

  .navbar-hamburger {
    display: none;
  }

  .navbar-hamburger-line {
    width: 30px;
    height: 3px;
    background-color: #000;
    margin: 6px 0;
    transition: transform 0.2s ease;
  }
  
  .navbar-hamburger-line.open {
    transform: rotate(45deg);
  }
  
  @media (max-width: 768px) {
    .navbar-links {
      display: none;
    }
    
    .navbar-hamburger {
      display: block;
    }
  }
  .selected{
    border-radius: 10px 10px 0 0;
    background-color: #E1E5F8;
  }
  .navbar-links a{
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: black;
    padding: 20px;
    transition: border-bottom 0.5s;
}
/* Add this to the link element */
.navbar-links a {
    text-decoration: none;
    position: relative;
    color: black;
  }
  
  /* Add the underline */
  .navbar-links a::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: salmon;
    transition: width 0.3s;
  }
  
  /* Add the hover effect */
  .navbar-links a:hover::before {
    width: 100%;
  }
  /* Add the animation effect */
/* Add the animation effect */
@keyframes text-color-animation {
    0% {
      color: black;
    }
    100% {
      color: salmon;
    }
  }
  /* Add the hover effect */
  .navbar-links a:hover {
    animation: text-color-animation .3s ease-in;
    color: salmon;
  }
  .nav-logo{
    width: 80px;
  }
  

        
    
   
  
