.AboutMeCard{

    height: 30vh;
    display: flex;
    position: relative;
}

.contactForm{
    margin-left: auto;
    width: 45%;  
}
.contactForm input{
    border: none;
    border-bottom: 2px solid black;
    line-height: 30px;
    width: 100%;
    margin-bottom: 15px;
}

.contactForm input:last-child{
    line-height: 60px;
   
}
.closebutton{
    position: absolute;
    top:0;
    right: 0;
    padding: 20px;
}
.closebutton a{
    text-decoration: none;
   
}

@media only screen 
and (max-width : 640px) {
    .AboutMeCard{
        display: flex;
        flex-direction: column;
        margin-bottom: 30%;
    }
    .leftside{
        width: 100%;
    }
    .contactForm{
        width: 100%;
        position: relative;
     
        
    }
   
}