.AboutMeCard{

    padding: 50px;
    height: 50vh;
    display: flex;
}
.leftside{
    width: 45%;
}
.contactForm{
    margin-left: auto;
    width: 45%;
    position: relative;
    
}
.contactForm input{
    border: none;
    border-bottom: 2px solid black;
    line-height: 30px;
    width: 100%;
}
.contactForm input:last-child{
    line-height: 60px;
   
}
.closebutton{
    position: absolute;
    top:0;
    right: 0;
}
.closebutton a{
    text-decoration: none;
   
}